
@{
    ViewData["Title"] = "Sucesso";
    Layout = "~/Views/Shared/_LayoutSemMenu.cshtml";
}

    <div class="card" style="">
        <div class="card-header">
            <h4 class="card-title">Bem vindo a Multiplyx</h4>
            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <h6>Sucesso na operação</h6>
                <div class="alert alert-success border-0 mb-2" role="alert">
                    <strong>Tudo certo.</strong> Seu cadastro foi efetuado com sucesso! <a href="/Home">Clique aqui para acessar o portal</a>
                </div>
             
            </div>
        </div>
    </div>