
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization

<!-- eCommerce statistic -->
<div class="row">
    <div class="col-12">
        <div class="card bg-gradient-x-success">
            <div class="card-content">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 border-right-success border-right-lighten-3">
                        <div class="card-body text-center">
                            <a href="/Usuario/IndexRedeDireta?idAssociado=@(User.FindFirst("idTipoUsuario").Value)">
                                <h1 class="display-4 text-white"><i class="icon-user font-large-2"></i>&nbsp;@String.Format(CultureInfo.CreateSpecificCulture("pt-BR"), "{0:0,0}", ViewBag.QTDRede)</h1>
                                <span class="text-white">Total da rede</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 border-right-success border-right-lighten-3">
                        <div class="card-body text-center">
                            <a href="/Usuario/IndexSaldo?idAssociado=@(User.FindFirst("idTipoUsuario").Value)">
                                <h1 class="display-4 text-white"><i class="icon-wallet font-large-2"></i>&nbsp;@String.Format(CultureInfo.CreateSpecificCulture("pt-BR"), "{0:C}", ViewBag.TotalARecebeber)</h1>
                                <span class="text-white">Total de ganhos</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 border-right-success border-right-lighten-3">
                        <div class="card-body text-center">
                            <a href="/Compra/MinhasCompras">
                                <h1 class="display-4 text-white"><i class="icon-basket-loaded font-large-2"></i>&nbsp;@String.Format(CultureInfo.CreateSpecificCulture("pt-BR"), "{0:C}", ViewBag.QtdCompras)</h1>
                                <span class="text-white">Total de compras</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--/ eCommerce statistic -->
<!-- Products sell and New Orders -->
<div class="row match-height">
    <div class="col-xl-12 col-12" id="ecommerceChartView">
        <div class="card card-shadow">
            <div class="card-header card-header-transparent py-20">
                <div class="btn-group dropdown">
                    <a href="#" class="text-body dropdown-toggle blue-grey-700" data-toggle="dropdown">Crescimento da rede</a>
                    <div class="dropdown-menu animate" role="menu">
                        <a class="dropdown-item" href="#" role="menuitem">Sales</a>
                        <a class="dropdown-item" href="#" role="menuitem">Total sales</a>
                        <a class="dropdown-item" href="#" role="menuitem">profit</a>
                    </div>
                </div>
                <ul class="nav nav-pills nav-pills-rounded chart-action float-right btn-group" role="group">
                    <li class="nav-item"><a class="active nav-link" data-toggle="tab" href="#scoreLineToDay">Dia</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#scoreLineToWeek">Mês</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#scoreLineToMonth">Ano</a></li>
                </ul>
            </div>
            <div class="widget-content tab-content bg-white p-20">
                <div class="ct-chart tab-pane active scoreLineShadow" id="scoreLineToDay"></div>
                <div class="ct-chart tab-pane scoreLineShadow" id="scoreLineToWeek"></div>
                <div class="ct-chart tab-pane scoreLineShadow" id="scoreLineToMonth"></div>
            </div>
        </div>
    </div>
    @*<div class="col-xl-4 col-lg-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body sales-growth-chart">
                        <div id="monthly-sales" class="height-250"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="chart-title mb-1 text-center">
                        <h6>Total monthly Sales.</h6>
                    </div>
                    <div class="chart-stats text-center">
                        <a href="#" class="btn btn-sm btn-danger box-shadow-2 mr-1">Statistics <i class="ft-bar-chart"></i></a> <span class="text-muted">for the last year.</span>
                    </div>
                </div>
            </div>
        </div>*@
</div>

@section Scripts{
    <script src="~/layout/modern-admin/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
}