
@{
    ViewData["Title"] = "DashboardParceiro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization

<!-- eCommerce statistic -->
<div class="row">
    <div class="col-12">
        <div class="card card bg-gradient-x-info">
            <div class="card-content">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 border-right-success border-right-lighten-3">
                        <div class="card-body text-center">
                            <a href="/Usuario/IndexRedeDireta?idAssociado=@(User.FindFirst("idTipoUsuario").Value)">
                                <h1 class="display-4 text-white"><i class="icon-basket-loaded font-large-2"></i>&nbsp;@String.Format(CultureInfo.CreateSpecificCulture("pt-BR"), "{0:0,0}", ViewBag.QTDVendas)</h1>
                                <span class="text-white">QTD de vendas</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 border-right-success border-right-lighten-3">
                        <div class="card-body text-center">
                            <a href="/Usuario/IndexSaldo?idAssociado=@(User.FindFirst("idTipoUsuario").Value)">
                                <h1 class="display-4 text-white"><i class="icon-list font-large-2"></i>&nbsp;@String.Format(CultureInfo.CreateSpecificCulture("pt-BR"), "{0:C}", ViewBag.TotalVendas)</h1>
                                <span class="text-white">Total de vendas</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 border-right-success border-right-lighten-3">
                        <div class="card-body text-center">
                            <a href="/Compra/MinhasCompras">
                                <h1 class="display-4 text-white"><i class="icon-share-alt font-large-2"></i>&nbsp;@String.Format(CultureInfo.CreateSpecificCulture("pt-BR"), "{0:C}", ViewBag.TotalRepasse)</h1>
                                <span class="text-white">Total de repasse</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--/ eCommerce statistic -->
<!-- Products sell and New Orders -->
<section id="flot-bar-charts">
    <!-- Simple Bar Chart -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vendas por mês</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div id="bar-chart" class="height-400"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>