@using Multiplix.UI.Utils
@{
    ViewData["Title"] = "Entradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Multiplix.Domain.DTOs.EntradaDTO

@section breadcrumbs{
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Listagem de Entradas</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Home/Dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Entradas por período
                    </li>
                </ol>
            </div>
        </div>
    </div>

    @*<div class="content-header-right text-md-right col-md-6 col-12">
        <div class="btn-group">
            <a id="btn_add_produto" href="/Entrada/AdicionarEntrada" class="btn btn-round btn-info"><i class="icon-cog3"></i> Adicionar Entrada</a>
        </div>
    </div>*@
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Escolha o período</div>
            </div>
            <div class="card-body">
                <form method="post" id="form-compra" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">



                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="issueinput3">Data início</label>
                                    <input type="date" id="DataInicio" asp-for="DataInicio" class="form-control" name="DataInicio" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="issueinput4">Data fim</label>
                                    <input type="date" id="DataFim" asp-for="DataFim" class="form-control" name="DataFim" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed" required>
                                </div>
                            </div>


                        </div>


                        <button type="submit" class="btn btn-primary">
                            <i class="la la-check-square-o"></i> Localizar entradas
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">@ViewData["Title"]</div>
            </div>
            <div class="card-body">
                <div class="row">
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table id="data-table-entradas" class="table table-striped table-bordered text-nowrap w-100">
                            <thead>
                                <tr>
                                    <th>ID</th> <!-- ocultada pelo datatable -->
                                    <th>Gerador</th>
                                    <th>Descrição</th>
                                    <th>Data de cadastro</th>
                                    <th>Vencimento</th>
                                    <th>Data de pagamento</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                    <th style="width: 5% !important" class="sorting_desc_disabled sorting_asc_disabled text-left">Ações</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts{

    <script src="~/js/datatable-generator.js"></script>
    <script>
        $(document).ready(function() {
            var podeAlterarCompraEntradas = @PermissaoRequerida.TemPermissao(Context, "pode_alterar_entradas").ToString().ToLower();
            var podeExcluirEntradas = @PermissaoRequerida.TemPermissao(Context, "pode_excluir_entradas").ToString().ToLower();
            var podeVisualizarEntradas = @PermissaoRequerida.TemPermissao(Context, "pode_visualizar_entradas").ToString().ToLower();
            var botoes = [{ title: "Ver itens comprados", url: "/Compra/ItensComprados/?compraId="/*, permission: podeVisualizarCompra*/ }];
            generateDataTable("#data-table-entradas",
                "Entrada",
                "/Entrada/ListaEntradas?DataInicio=@ViewBag.Di&DataFim=@ViewBag.Df",
                true,
                "/Entrada/EditarEntrada/?entradaId=",
                false,
                "/Entrada/Excluir/?entradaId=");
        });
    </script>
}


