
@{
    ViewData["Title"] = "AtualizarDados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="alert bg-warning alert-icon-right alert-arrow-right alert-dismissible mb-2" role="alert">
                <span class="alert-icon"><i class="la la-warning"></i></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>Atenção!</strong> Atualize seus dados para ter acesso a todas as funcionalidades do sistema e receber seus pagamentos sem inconsistências <a href="/Usuario/EditarPerfil" class="alert-link">Clique aqui para atualizar agora</a>.
            </div>
        </div>
    </div>

