<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="index.html"><i class="la la-home"></i><span class="menu-title" data-i18n="nav.dash.main">Dashboard</span></a>
                @*<ul class="menu-content">
                <li class="active">
                    <a class="menu-item" href="dashboard-ecommerce.html"><i></i><span data-i18n="nav.dash.ecommerce">eCommerce</span></a>
                </li>
                <li>
                    <a class="menu-item" href="dashboard-crypto.html"><i></i><span data-i18n="nav.dash.crypto">Crypto</span></a>
                </li>
                <li>
                    <a class="menu-item" href="dashboard-sales.html"><i></i><span data-i18n="nav.dash.sales">Sales</span></a>
                </li>
            </ul>*@
            </li>

            <li class=" navigation-header">
                <span data-i18n="nav.category.admin-panels">Usuários</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Usuários"></i>
            </li>
            <li class=" nav-item">
                <a href="/Usuario/Index"><i class="la la-user"></i><span class="menu-title" data-i18n="">Associado</span></a>
            </li>           
            <li class=" nav-item">
                <a href="#"><i class="la la-pencil-square"></i><span class="menu-title" data-i18n="">Parceiro</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/Parceiro/IndexParceiro"><i></i><span data-i18n="">Cadastro</span></a>
                    <li><a class="menu-item" href="vector-maps-mapael-basic.html"><i></i><span data-i18n="">Vendas</span></a>

                </ul>
            </li>
            <li class=" nav-item">
                <a href="../hospital-menu-template"><i class="la la-key"></i><span class="menu-title" data-i18n="">Grupo de permissões</span></a>
            </li>


            <li class=" navigation-header">
                <span data-i18n="nav.category.apps">Rede</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Rede"></i>
            </li>
            <li class=" nav-item">
                <a href="app-todo.html"><i class="la la-sitemap"></i><span class="menu-title" data-i18n="">Por usuário</span></a>
            </li>

            <li class=" navigation-header">
                <span data-i18n="nav.category.pages">Financeiro</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Financeiro"></i>
            </li>
            <li class=" nav-item">
                <a href="news-feed.html"><i class="la la-money"></i><span class="menu-title" data-i18n="">Operações</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="vector-maps-mapael-basic.html"><i></i><span data-i18n="">Extrato</span></a>
                    <li><a class="menu-item" href="vector-maps-mapael-basic.html"><i></i><span data-i18n="">Conta bancária</span></a>

                </ul>
            </li>


            <li class=" navigation-header">
                <span data-i18n="nav.category.support">Relatórios</span><i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Relatórios"></i>
            </li>
            <li class=" nav-item">
                <a href="http://support.pixinvent.com/"><i class="la la-file-pdf-o"></i><span class="menu-title" data-i18n="nav.support_raise_support.main">Bônus</span></a>
            </li>
        </ul>
    </div>
</div>